#users-view {
  display: flex;
  height: calc(100vh - 50px);
  box-sizing: border-box;
}

.users-view__users-comtainer {
  display: flex;
  width: 85%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.users-view__users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 14px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
