html {
  font-family: "Roboto";
}

body {
  background-color: #fafafa;
  overflow: hidden;
  font-family: "Roboto";
}

.App {
  height: 100vh;
  overflow: auto;
  font-family: "Roboto";

  & > .mla-app__content {
    box-sizing: border-box;
    height: calc(100vh - 56px);

    @media (min-width: 600px) {
      height: calc(100vh - 64px);
    }

    // @media (min-width: 0px) and (orientation: landscape) {
    //   height: calc(100vh - 48px);
    // }
  }
}
